@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F4F5F7];
  margin: 0 auto;
  padding: auto;
  overflow-x: hidden;
}

.orange-gradient-background {
  background: linear-gradient(
    180deg,
    rgba(255, 122, 4, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
